<h2>Convert an Image to PDF</h2>
<form action="/convert2pdf" method="post" enctype="multipart/form-data">
  <input type="file" name="psfile">
  <button type="submit">Convert</button>
</form>

<% if (convertedPDF) { %>
  <h3>Converted PDF:</h3>
  <embed src="data:application/pdf;base64, <%= convertedPDF %>" type="application/pdf" width="100%" height="600px">
<% } %>
